// Colors
$black: #424242;
$blue: #0091EA;

$gray: #757575;
$gray-2: #9E9E9E;
$gray-3: #ccc;
$gray-light: #BDBDBD;
$gray-light-2: #E0E0E0;
$gray-light-3: #EEE;
$gray-light-4: #fafafa;
$gray-dark: #353535;
$gray-dark-2: #212121;

$yellow: #FFAB00;
$yellow-2: #FDFF58;
$yellow-light: #FFFDE7;
$green: #00C853;
$white: #fff;
$red: #FF0000;

// assets path
$image-path: "/app/assets/layout";
