body {
  background: $light;
}
.brand {
  background: $light url("/images/vatmobile-logo-light.svg") no-repeat center;
  font-size: 26px;
  font-weight: bold;
  height: 40px;
  text-indent: -999em;
  width: 300px;
}
.main-nav {
  display: flex;
  margin: 0 0 0 20px;
  li {
    margin-left: 40px;
  }
  a {
    color: $white;
    font-size: 18px;
  }
}
.page-header {
  background: $dark-gray;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  color: $light;
  margin-bottom: 40px;
}
.page-header__content {
  align-items: center;
  display: flex;
  padding: 20px 40px;
  > a {
    color: $light;
  }
}
.page-header__options {
  margin-left: auto;
}
.basic-form {
  margin: 40px auto 0;
  max-width: 420px;
  width: 100%;
  .btn {
    background: $green;
    color: $white;
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}
h2 {
  font-size: 36px;
  margin: 0 0 30px;
}
.data-summary {
  border-bottom: 1px solid $light-gray;
  display: flex;
  padding: 0 40px 20px;
  margin-bottom: 20px;
  dl {
    margin: 0 40px 0 0;
  }
  dt, dd {
    margin: 0;
  }
  dt {
    font-size: 21px;
  }
}
.page-footer {
  background: $dark-blue;
  margin: 40px 0 0;
  padding: 20px 40px;
}

.table-wrapper {
  thead {
    th {
      background: $white;
    }
  }
  tbody {
    td {
      background: $white;
      border-bottom: 1px solid $light-gray;
    }
  }
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 12px 10px;
}
.dataTables_length {
  margin-left: 40px;
}
.dataTables_filter {
  margin-right: 40px;
}
.user-menu-trigger {
  color: $white;
}
table.dataTable {
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: $white;
}
.dataTables_info {
  margin-left: 40px;
}
.dataTables_paginate {
  margin-right: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: $green;
}
.table__main-col {
  width: 40%;
}
.notice, .alert {
  color: $white;
  font-weight: bold;
  margin: 0;
  padding: 10px 40px;
  &:empty {
    display: none;
  }
}
.notice {
  background: $yellow;
  color: $dark-gray;
}
.alert {
  background: $red;
}
.section-header {
  margin: 20px 40px;
}
.export-data {
  margin-left: auto;
}
.drag-target {
  z-index: 100;
}
