body {
  background: #EDEFF1;
}
.page-header {
  background: #37474F;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #ECEFF1;
  margin-bottom: 40px;
}
.page-header__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  > a {
    color: #ECEFF1;
  }
}
.basic-form {
  margin: 40px auto 0;
  max-width: 420px;
  width: 100%;
  .btn {
    background: #43867B;
    color: #fff;
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}
h2 {
  font-size: 36px;
  margin: 0 0 30px;
}

.page-footer {
  background: #43867B;
  margin: 40px 0 0;
  padding: 20px 40px;
}

.table-wrapper {
  thead {
    th {
      background: #fff;
    }
  }
  tbody {
    td {
      background: #fff;
      border-bottom: 1px solid #d0d0d0;
    }
  }
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 12px 10px;
}
.dataTables_length {
  margin-left: 40px;
}
.dataTables_filter {
  margin-right: 40px;
}
