body {
  background: #EDEFF1;
}
.brand {
  font-size: 26px;
  font-weight: bold;
}
.main-nav {
  display: flex;
  margin: 0 0 0 20px;
  li {
    margin-left: 40px;
  }
  a {
    color: #fff;
    font-size: 18px;
  }
}
.page-header {
  background: #37474F;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #ECEFF1;
  margin-bottom: 40px;
}
.page-header__content {
  align-items: center;
  display: flex;
  padding: 20px 40px;
  > a {
    color: #ECEFF1;
  }
}
.page-header__options {
  margin-left: auto;
}
.basic-form {
  margin: 40px auto 0;
  max-width: 420px;
  width: 100%;
  .btn {
    background: #43867B;
    color: #fff;
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}
h2 {
  font-size: 36px;
  margin: 0 0 30px;
}
.data-summary {
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  padding: 0 40px 20px;
  margin-bottom: 20px;
  dl {
    margin: 0 40px 0 0;
  }
  dt, dd {
    margin: 0;
  }
}
.page-footer {
  background: #20479B;
  margin: 40px 0 0;
  padding: 20px 40px;
}

.table-wrapper {
  thead {
    th {
      background: #fff;
    }
  }
  tbody {
    td {
      background: #fff;
      border-bottom: 1px solid #d0d0d0;
    }
  }
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 12px 10px;
}
.dataTables_length {
  margin-left: 40px;
}
.dataTables_filter {
  margin-right: 40px;
}
.user-menu-trigger {
  color: #fff;
}
table.dataTable {
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #fff;
}
.dataTables_info {
  margin-left: 40px;
}
.dataTables_paginate {
  margin-right: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #43867B;
}
.table__main-col {
  width: 40%;
}
.notice, .alert {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 10px 40px;
  &:empty {
    display: none;
  }
}
.notice {
  background: #FFC107;
  color: #37474F;
}
.alert {
  background: #D50000;
}
