.page-footer {
  color: $gray-2;
  font-size: 12px;
  margin-top: auto;
  padding: 20px 0;
  width: 100%;
  @media #{$small-and-down} {
    text-align: center;
  }
  a {
    color: $gray-2;
    margin: 0 0 0 25px;
    @media #{$small-and-down} {
      display: block;
      margin: 5px 0;
    }
  }
}
