//////////////////////// react select
.Select-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $gray-2;
  border-radius: 0;
  height: 44px;
  outline: none;
}
.Select-menu-outer {
  border-radius: 0;
  z-index: 100;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: $gray-2;
  box-shadow: none;
}
.Select-input>input[role="combobox"] {
  height: 43px;
  transition: no;
}
.Select-input {
  height: 43px;
  padding-left: 0;
}
.Select--single > .Select-control .Select-value, .Select-placeholder {
  line-height: 43px;
}
.Select-option {
  &.is-selected {
    background-color: $gray-light-2;
  }
  &.is-focused {
    background-color: $gray-light-3;
  }
}
.select-with-input {
  .Select-option {
    padding: 5px 10px;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      padding: 0;
    }
  }
}
.button-select {
  background-color: $gray-light-3;
  bottom: 0;
  cursor: pointer;
  display: none;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.Select-menu {
  max-height: none;
  height: auto;
}
.Select-menu-outer {
  max-height: none;
}
.select-wrap {
  position: relative;
}
.Select--single>.Select-control .Select-value, .Select-placeholder {
  padding-left: 0;
  padding-right: 43px;
}
.Select-clear {
  padding-top: 7px;
}
.Select-arrow-zone {
  padding-top: 5px;
}
.table-files .select-form .btn {
  display: inline-block;
  margin-bottom: 15px;
  &.save {
    margin-right: 15px;
  }
}
.invalid {
  .Select-control {
    border-bottom: 1px solid $red;
    box-shadow: 0 1px 0 $red;
  }
}

//////////// isButtonSelect
.isButtonSelect .Select-noresults {
  height: 65px;
}

///////////// virtualized select
.itemOptionLabel {
  flex: 1 1 auto;
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
}
.itemOption {
  display: table;
  align-items: center;
  height: 40px;
  line-height: 1em;
  width: 100%;
}
.itemOptionFocused {
  background-color: $gray-3;
}
.itemOptionSelected {
  font-weight: bold;
}
#supplier {
  margin-top: 15px;
  padding-bottom: 20px;
}
///////////////////// select-form
.select-form {
  background-color: $white;
  border: 1px solid $gray-3;
  box-shadow: 0 1px 0 rgba(0,0,0,.06);
  height: 232px;
  padding: 30px;
  position: absolute;
  top: 43px;
  width: 100%;
  z-index: 101;
  .save {
    margin-right: 10px;
  }
  &__title {
    font-size: 17px;
    margin-bottom: 10px;
  }
  &__input {
    padding-bottom: 20px;
    input {
      margin-bottom: 0;
    }
  }
}
.select-form--loading {
  .select-form__content {
    display: none;
  }
  .loader-wrap {
    display: flex;
  }
}
