.settings-active {
  z-index: 1010;
}
.settings-box {
  border-bottom: 1px solid $gray-light-2;
  padding-bottom: 25px;
}
.modal-settings {
  padding-top: 45px;
  padding-left: 0;
  padding-right: 0;
  h2 {
    font-size: 24px;
    margin: 0 0 30px;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  .page-nav__list {
    border-bottom: 1px solid $gray-light-2;
    margin-bottom: 24px;
    a {
      color: $gray-dark-2;
      display: block;
      padding-bottom: 5px;
      &.active {
        pointer-events: none;
        &::after {
          background: $gray-dark-2;
          margin-top: -1px;
        }
      }
    }
  }
}
.modal-popup {
  background: $white;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  max-width: 660px;
  max-height: 50%;
  padding: 20px;
  h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
}
.modal-overlay {
  opacity: .75;
}
.toast {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  @media #{$medium-and-up} {
    min-width: 440px;
    padding: 18px 15px;
  }
  strong {
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 3px;
  }
  &--failed {
    background: rgba(244,67,54,0.95);
  }
  &--success {
    background: rgba(0,200,83,0.95);
  }
}
#toast-container {
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: auto;
  max-width: calc(100% - 20px);
  @media #{$medium-and-up} {
    bottom: auto;
    right: 10px;
    top: 0;
    left: auto;
  }
}
.integrated-item {
  background: $white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  margin-top: 10px;
}
.add-item-btn {
  align-items: center;
  display: flex;
  background: $white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  color: $gray-dark-2;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  min-height: 80px;
  padding-left: 36px;
  position: relative;
  width: 140px;
  text-decoration: underline;
  &::before {
    background: url("#{$image-path}/icon-add.svg") no-repeat center;
    content: "";
    display: block;
    height: 8px;
    left: 21px;
    margin-top: -4px;
    position: absolute;
    width: 8px;
    top: 50%;
  }
}
.modal-popup__header {
  border-bottom: 1px solid $gray-light-2;
  position: relative;
  padding-bottom: 15px;
  .close-modal {
    background: url("#{$image-path}/icon-close3.svg") no-repeat center;
    display: block;
    height: 30px;
    margin-top: -24px;
    position: absolute;
    right: 0;
    width: 30px;
    text-indent: -999em;
    top: 50%;
  }
}
.integrations-list {
  @media #{$large-and-up} {
    display: flex;
    justify-content: space-between;
  }
  li {
    background: $white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    margin-bottom: 15px;
    height: 118px;
    text-align: center;
    @media #{$large-only} {
      margin-bottom: 0;
      width: 120px;
    }
    @media #{$extra-large-and-up} {
      margin-bottom: 0;
      width: 140px;
    }
  }
  a {
    color: $gray-2;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    height: 118px;
    padding: 7px;
    @media #{$large-only} {
      width: 120px;
    }
    @media #{$extra-large-and-up} {
      width: 140px;
    }
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    img {
      max-width: 100px;
    }
  }
}
.integration-disabled {
  pointer-events: none;
  img {
    filter: grayscale(100%);
    opacity: .25;
  }
}
.integrated-item {
  align-items: center;
  @media #{$medium-and-up} {
    display: flex;
  }
  figure {
    align-items: center;
    border-right: 1px solid $gray-light-2;
    justify-content: center;
    display: flex;
    height: 80px;
    width: 140px;
    margin: 0;
    padding: 0;
    @media #{$medium-and-down} {
      border-right: 0;
    }
  }
  .switch {
    margin-left: auto;
  }
}
.integrated-item__service {
  font-weight: 400;
  padding: 0 20px;
}
.switch label input[type=checkbox]:checked + .lever {
  background: rgba(0,200,83,0.35);
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: $green;
}
.switch label {
  color: $black;
  font-size: 14px;
}
.integrated-item__btn {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: color;
  border-left: 1px solid $gray-light-2;
  height: 80px;
  padding: 0 20px;
}
