<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
  <title>VATman</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/common/application.css">
</head>
<body>
  <header class="page-header x-header">
    <div class="layout-wrapper page-header__content">
      <a href="index.html" class="brand">VATman</a>
      <!-- <nav class="page-nav">
        <ul class="page-nav__list">
          <li><a class="active" href="#">Inbox <span>(7)</span></a></li>
          <li><a href="#">Archived</a></li>
          <li><a href="#">Deleted</a></li>
        </ul>
      </nav> -->
    </div>
  </header>
  <!-- <div class="section-header">
    <section class="layout-wrapper">
      <h1>Welcome Jonathan</h1>
      <div class="status-summary">
        <span class="status-summary__label">Check out status your files:</span>
        <ul>
          <li class="status status--recognized">2 file recognized</li>
          <li class="status status--ready">3 files are ready to booked</li>
          <li class="status status--queued">2 file queued</li>
        </ul>
      </div>
    </section>
  </div> -->
  <main class="layout-wrapper">
    <div class="basic-form">
      <h2>Logowanie</h2>
      <form action="#">
        <div class="input-field">
          <input value="" id="mail" type="email" class="validate">
          <label class="active" for="mail">Adres e-mail</label>
        </div>
        <div class="input-field">
          <input value="" id="pass" type="password" class="validate">
          <label class="active" for="pass">Hasło</label>
        </div>
        <div class="field">
          <input type="checkbox" class="filled-in" id="remember-me" checked="checked" />
          <label for="remember-me">Zapamiętaj mnie</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light">Zaloguj</button>
      </form>
      <a href="#">Przypomnij hasło</a>
      <a href="#">Zarejestruj</a>
    </div>
  </main>
  <footer class="page-footer">
    <div class="layout-wrapper">
      &copy; 2017 VATman
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="assets/javascripts/vendors/materialize.js"></script>
  <script src="assets/javascripts/default.js"></script>
</body>
</html>
