<main class="layout-wrapper">
  <div class="basic-form">
    <p>Witaj <%= @email %>!</p>

    <p>Potwierdź utorzenie konta klikając przycisk poniżej:</p>

    <p><%= link_to 'Potwierdź utworzenie konta', confirmation_url(@resource, confirmation_token: @token) %></p>
  </div>
</main>
